label{
  display: inline-block;
  min-width: 130px;
  text-align: right;
}

input{
  display: inline-block;
  min-width: 120px;
  max-width: 120px;
}

h2,h3{
  color: brown;
}

h3{
  color: brown;
  font-style:italic;
}